@import "../../../assets/css/dark-theme";

.tile {
    display: inline-block;
    background-color: @tile-background;
    padding: 5px;
    margin: 5px;
}

#content {
    background-color: @content-background;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
