@import "../../../../../assets/css/dark-theme";

.letter {
    display: flex;
    padding: 5px;
    cursor: default;
    color: @todo-color-4;
}

.letter:hover {
    background-color: @highlight-background;
    color: @todo-color-5;
}

.menu {
    position: absolute;
    background-color: @content-background;
}

.link {
    display: flex;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.link:hover {
    background: @todo-color-7
}

.link.active {
    background-color: @todo-color-6;
}
