@import "../../../assets/css/dark-theme";

.tabs {
    display: flex;
}

.tabs a {
    padding: 10px;
    color: @todo-color;
}

.tabs a.active {
    background-color: @todo-color-2;
    color: @todo-color-3;
}
