.alphabet {
    background-color: #333;
    margin-bottom: 10px;
    display: flex;
}

.letter {
    padding: 5px;
    cursor: default;
    color: #888;
}

.letter:hover {
    background-color: #222;
    color: white;
}
